<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading sub text-muted">A brief look into my personal experiences.</h3>
                    <h4 class="section-subheading text-muted">I am currently a computer science student at Dartmouth College interested in full stack development. Some other passions of mine include hiking, landscape photography, the Los Angeles Lakers, and Kanye West.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-image">
                            <div class="timeline-panel">
                                    <div class="col-md-10 timeline-subheading">
                                        <h4><a href=http://en.wikipedia.org/wiki/San_Francisco_Bay_Area>My Roots</a></h4>
                                        <h4 class="subheading">San Francisco Bay Area</h4>
                                    </div>
                                    <div class="col-md-2 timeline-subheading-logo">
                                        <img class="img-responsive logo image-large" src="img/logos/sf.png" alt="">
                                    </div>
                                  <div class="col-md-12 timeline-heading">
                                     <p class="text-muted">Born in Shanghai, raised in the bay area, Los Angeles Lakers fan. Interesting how that worked out. Ever since I was a child, I have been surrounded by technology, from nearby tech giants Google and Apple, to my own parents who worked in the technology sector. Technology has been part of my life from the very beginning and my passion for it continues to grow. The bay area is the best, not only for the great variety of cuisine, but the collection of scenic routes and hikes just miles away.</p>
                                </div>
                            </div>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/about/san_jose.jpg" alt="">
                            </div>
                        </li>
                         <li class="timeline-image">
                            <div class="timeline-panel">
                                    <div class="col-md-10 timeline-subheading">
                                        <h4><a href=http://dartmouth.edu/>Dartmouth College</a></h4>
                                        <h4 class="subheading">Class of 2017</h4>
                                    </div>
                                    <div class="col-md-2 timeline-subheading-logo">
                                    <img class="img-responsive logo image-large" src="img/logos/dartmouth-crest.png" alt="">
                                    </div>
                                  <div class="col-md-12 timeline-heading">
                                    <p class="text-muted">In September of 2014, I decided to attend Dartmouth College, a small liberal arts college in Hanover, New Hampshire. Although Dartmouth was an enormous change from the suburban life I have grown used to, the college has grown on me and allowed me to appreciate where I came from even more. At Dartmouth I am a <strong>computer science major</strong> and <strong>mathematics minor.</strong></p>
                                    <p class ="text-muted", id="relevant-courses">
                                    Some relevant courses I have taken include:
                                    </p>
                                    <ul id="course-list">
                                          <li><a href=http://cs.dartmouth.edu/~cs10>Problem Solving via Object Oriented Programming</a></li>
                                          <li><a href=http://cs.dartmouth.edu/~cs50>Software Design and Implementation</a></li>
                                          <li><a href=http://www.cs.dartmouth.edu/~lorenzo/teaching/cs174/>Machine Learning and Statistical Data Analysis</a></li>
                                          <li><a href=http://www.cs.dartmouth.edu/~campbell/cs65/cs65.html>Smartphone Programming in Android</a></li>
                                          <li><a href=http://cs.dartmouth.edu/~cs61>Database Systems</a></li>
                                          <li><a href=http://cs.dartmouth.edu/~cs30>Discrete Mathematics</a></li>
                                          <li><a href=http://cs.dartmouth.edu/~cs31>Algorithms</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/about/dartmouth.jpg" alt="">
                            </div>
                        </li>
                         <li class="timeline-image">
                            <div class="timeline-panel">
                                    <div class="col-md-10 timeline-subheading">
                                        <h4><a href=http://www.ed.ac.uk/home/>University of Edinburgh</a></h4>
                                        <h4 class="subheading">European Study Abroad</h4>
                                    </div>
                                    <div class="col-md-2 timeline-subheading-logo">
                                    <img class="img-responsive logo image-large" src="img/logos/edinburgh.png" alt="">
                                    </div>
                                  <div class="col-md-12 timeline-heading">
                                    <p class="text-muted">In the Fall of 2015, I am going to be attending the University of Edinburgh as a visiting student. I will be mainly studying in the School of Informatics, a combination of various computer science related disciplines. </p>
                                    <p class ="text-muted", id="relevant-courses">
                                    Some relevant courses I plan on taking include:
                                    </p>
                                    <ul id="course-list">
                                          <li><a href=http://www.inf.ed.ac.uk/teaching/courses/cd/Course_Description.html>Computer Design</a></li>
                                          <li><a href=http://www.inf.ed.ac.uk/teaching/courses/ds/>Distrbuted Systems</a></li>
                                          <li><a href=http://www.inf.ed.ac.uk/teaching/courses/exc//>Extreme Computing</a></li>
                                          <li><a href=http://www.inf.ed.ac.uk/teaching/courses/pm/>Performance Modeling</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/about/edinburgh.jpg" alt="">
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-panel">
                                    <div class="col-md-10 timeline-subheading">
                                        <h4><a href=http://www.waterfall.com/>Waterfall</a></h4>
                                        <h4 class="subheading">Creating mobile marketing customers love.</h4>
                                    </div>
                                    <div class="col-md-2 timeline-subheading-logo">
                                        <img class="img-responsive logo image-large" src="img/logos/waterfall.png" alt="">
                                    </div>
                                  <div class="col-md-12 timeline-heading">
                                    <p class="text-muted">During the summer of 2014, I was a member of the Waterfall team, a mobile marketing startup based in San Francisco. At Waterfall, I worked as a software engineering intern for the Special Projects team. Later after the summer, I worked remotely continuing my internship as part of the Web Services team. Check out the some of projects I've worked on there including <a href={{ site.url }}/portfolio/2014/08/11/salesforce-integration/>a full-fledged salesforce integration</a> and a <a href={{ site.url }}/portfolio/2014/08/20/bi-visualization/>financial data dashboard</a>.</p>
                                </div>
                            </div>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/about/waterfall.jpg" alt="">
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-panel">
                                    <div class="col-md-9 timeline-subheading">
                                    <h4><a href=http://dali.dartmouth.edu/>DALI Lab</a></h4>
                                    <h4 class="subheading">Digital Arts, Leadership, & Innovation Lab in Computer Science</h4>
                                    </div>
                                    <div class="col-md-3 timeline-subheading-logo">
                                        <img class="img-responsive logo" src="img/logos/dali.png" alt="">
                                    </div>
                                  <div class="col-md-12 timeline-heading">
                                    <p class="text-muted">Starting my Sophomore year, I joined the DALI Lab at Dartmouth College as a software developer. The DALI Lab is a research and development lab where students work together to build prototypes for real world partners. Some projects I have worked on in the DALI lab include <a href={{ site.url }}/portfolio/2014/09/29/psych-on-ice/>a NASA web-based behavioral health diagnosis tool for astronauts</a> and a <a href={{ site.url }}/portfolio/2015/02/21/eye-train/>iOS application designed to teach core design principles</a>.</p>
                                </div>
                            </div>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/about/dali_lab.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>