    <!-- Header -->
    <header>
        <div class="video">
            <videoid="bgvid" autoplay loop muted >
                <source src="img/video/baby-animals.webm" type="video/webm">
                <source src="img/video/baby-animals.mp4" type="video/mp4">
                <source src="img/video/baby-animals.ogv" type="video/ogv">
            </video>
        </div>
        <div class="container intro-container">
            <div class="intro-text">
                <!-- <div class="intro-image img-responsive"><img src="/img/headshot.png"></div> -->
                <div class="intro-heading">Hi my name is Jason!</div>
                <div class="intro-lead-in">Student, Full-Stack Developer, <a href="http://uxdiogenes.com/blog/on-being-a-designer-and-a-developer-not-quite-unicorn-rare">Unicorn</a> in training, Summer intern at <a href="http://hearsaysocial.com/">Hearsay Social</a></div>
                <a href="#about" class="page-scroll btn btn-xl">Here's some more about me </a>
            </div>
            <div class="social-networks">
                <div class = "col-md-3">
                </div>
                <div class="col-md-6">
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
                <div class = "col-md-3">
                </div>
        </div>
    </header>