<section>
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Photography</h2>
                                <h3 class="section-subheading sub text-muted">A snapshot into my life.</h3>
                        </div>
                </div>
        </div>
        <div class="instagram_scroller simply-scroll-container">
            <ul id="instafeed" class="simply-scroll-list">
            </ul>
        </div>
</section>