ul.social-buttons li a {
    font-size: 12px;
}
.cover-image {
  top: 75px;
}
@media only screen and (max-width: 500px) {
  ul.social-buttons li a {
      font-size: 1px;
  }
}
$a-tags: 'article section a, article section a:active, article section a:hover, article section a:visited';

#{$a-tags} {
  color: #dd7788;
  text-decoration: none;
}
